<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teacherspet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeachersPet"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.login.EmailVerify" />
        <activity android:name=".ui.login.SignUpUserView" />
        <activity android:name=".student_view.lessons.L_Stacks" />
        <activity android:name=".student_view.lessons.L_Review" />
        <activity android:name=".student_view.lessons.L_Recursion" />
        <activity android:name=".student_view.lessons.L_Pointers" />
        <activity android:name=".student_view.lessons.L_Lists" />
        <activity android:name=".student_view.lessons.L_Binary_Trees" />
        <activity android:name=".student_view.lessons.L_Algorithms" />
        <activity android:name=".student_view.skills_check.SC_Stacks" />
        <activity android:name=".student_view.skills_check.SC_Lists" />
        <activity android:name=".student_view.skills_check.SC_Pointers" />
        <activity android:name=".student_view.skills_check.SC_Algorithms" />
        <activity android:name=".student_view.skills_check.SC_Recursion" />
        <activity android:name=".student_view.skills_check.SC_Binary_Trees" />
        <activity android:name=".student_view.skills_check.SC_Review" />
        <activity android:name=".teacher_view.Main_Menu_Teacher_View" />
        <activity android:name=".student_view.Progress_Student_View" />
        <activity android:name=".student_view.Self_Study_Student_View" />
        <activity android:name=".student_view.Lessons_Student_View" />
        <activity android:name=".student_view.Attendance_Student_View" />

        <activity android:name=".student_view.Main_Menu_Student_View" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".student_view.Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"/>
    </application>

</manifest>